[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hellodatascience"]
	path = hellodatascience
	url = https://github.com/hellodata-science/hellodatascience
